
h1 {
	font-family: "Raleway", sans-serif; 
	color: #0d2c40;
	letter-spacing: 1px;
	font-size: 45px;
	font-weight: 400;
	text-transform: uppercase;
}
p.line2 a {
	font-family: "Raleway", sans-serif; 
	text-transform: uppercase;
	color: #f15b31;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
}
h2 {
	font-family: "Raleway", sans-serif; 
	color: #0d2c40;
	letter-spacing: 1px;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
}

p {
	font-family: "Droid Serif", sans-serif;
	line-height: 26px;
	font-size: 18px; 
}
body {
	text-align: center;
}